*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(42, 13, 72); */
    background-image: linear-gradient(to right, rgb(48, 3, 81), rgb(22, 7, 153));
    color: white;
    padding: 10px 0;
}

nav ul{
    display: flex;
    gap: 17px;
    align-items: center;
}

nav ul li{
    list-style-type: none;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
}

.logo{
    font-size: 20px;
    font-weight: bolder;
    font-family: "Playwrite IN", cursive;
}

.hero{
    background-image: linear-gradient(to right, rgb(152, 220, 220), rgb(100, 247, 154));
    height: 85vh;
    display: flex;
    justify-content: center;
    gap: 130px;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.hero-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-left .one{
    font-size: 60px;
    color: rgb(102, 41, 160);
    font-weight: bolder;
}

.hero-left .two{
    font-size: 40px;
}

.bold{
    font-weight: bold;
}

.hero img{
    width: 30vw;
}

.btn{
    background-image: linear-gradient(to right, rgb(73, 73, 236), rgb(78, 0, 151));
    padding: 7px 9px;
    margin: 0 2px;
    color: white;
    border: 2px solid purple;
    border-radius: 9px;
    cursor: pointer;
    font-size: 17px;
    transition: all 5s;
}

.btn:hover{
    background-image: linear-gradient(to right, rgb(141, 247, 137), rgb(58, 34, 80));
}

.button-container{
    padding: 9px 0;
    font-weight: bolder;
}

.project{
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, rgb(203, 152, 248), rgb(191, 240, 67));
    font-family: "Roboto", sans-serif;
    border-top: 2px solid rgb(208, 167, 247);
    padding: 22px 100px;
}

.project-image img{
    width: 29.5vw;
    margin: 35px;
    border-radius: 20px;
}

.project-info{
    display: flex;
    flex-direction: column;
    padding: 42px;
}

.project-info .text{
    font-size: 27px;
    padding: 10px 0;
    font-weight: bold;
}

.project-info p{
    padding: 12px 0;
}

.row-reverse{
    flex-direction: row-reverse;
}

footer{
    background-image: linear-gradient(to right, rgb(48, 3, 81), rgb(22, 7, 153));
    padding: 20px;
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
}